/**
 * @file
 * lndingpage paragraphs styles.
 */

/**
 * Float clearing, same as .clearfix.
 */

.paragraph:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * image/text paragraph.
 */

.paragraph--type--landingpage-image-text.paragraph--view-mode--image-left 
.field--name-field-landingpage-image img {
  float: left;
  margin-left: 1em;
}
.paragraph--type--landingpage-image-text.paragraph--view-mode--image-right 
.field--name-field-landingpage-image img {
  float: right;
  margin-right: 1em;
}

@media (max-width: 480px) {
.paragraph--type--landingpage-image-text.paragraph--view-mode--image-left 
.field--name-field-landingpage-image img,
.paragraph--type--landingpage-image-text.paragraph--view-mode--image-right 
.field--name-field-landingpage-image img  {
  float: none;
  margin: 1em auto;
  clear: both;
}