/**
 * @file
 * lndingpage paragraphs styles.
 */

/**
 * Float clearing, same as .clearfix.
 */

.paragraph:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * image/text paragraph.
 */

.field--name-field-landingpage-row
.paragraph--type--landingpage-image-text 
.field--name-field-landingpage-image{
  margin: 0;
}

.paragraph--type--landingpage-image-text.paragraph--view-mode--image-left 
.field--name-field-landingpage-image{
  float: left;
  width: 50%;
}
.paragraph--type--landingpage-image-text.paragraph--view-mode--image-right 
.field--name-field-landingpage-image {
  float: right;
  width: 50%;
}
.paragraph--type--landingpage-image-text.paragraph--view-mode--image-left 
.field--name-field-landingpage-text{
  float: right;
  width: 50%;
}
.paragraph--type--landingpage-image-text.paragraph--view-mode--image-right 
.field--name-field-landingpage-text {
  float: left;
  width: 50%;
}

.paragraph--type--landingpage-image-text.paragraph--view-mode--image-left 
.field--name-field-landingpage-image img {
  margin: 1em auto;
  display: block;
}
.paragraph--type--landingpage-image-text.paragraph--view-mode--image-right 
.field--name-field-landingpage-image img {
  margin: 1em auto;
  display: block;
}

@media (max-width: 640px) {
  .paragraph--type--landingpage-image-text.paragraph--view-mode--image-left 
  .field__item, 
  .paragraph--type--landingpage-image-text.paragraph--view-mode--image-right 
  .field__item {
    float: none;
    width: 100%;
    clear: both;
  }
}
